
h1,h2,h3{
  font-family: var(--font-title);
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 1.4–1.6;
  font-size: 1.2rem;

}
p,a,i{
  font-weight: 400; /* normal */
  font-family: var(--font-body);
  line-height: 1.2; /* legible */
  font-size: 0.8rem;
}

nav{
   font-weight: 900;
   padding-right: 5rem;
}
nav a {
  text-decoration: none;
  color: inherit; /* Hereda el color del texto del padre */
  margin-left: 1rem; /* Espacio entre los links */
  
}

header {
  
  position: fixed;
  top: 0;
  bottom: 0,1rem;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  background-color: var(--color-black); /* Fondo sólido para evitar que se solape con el contenido */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: sombra elegante */
  margin-bottom: 1rem;
}
header h1{
  font-size: 2rem;
  letter-spacing: 0.02em;
}
nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
  transition: transform 0.2s ease-in-out;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: var(--color-pink); /* O el color que prefieras */
  transition: transform 0.3s ease-in-out;
}

nav a:hover {
  transform: scale(1.08); /* Zoom suave */
}

nav a:hover::after {
  transform: translateX(-50%) scaleX(1); /* Subrayado se expande */
}
.logo-link {
  color: inherit;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.logo-link:hover {
  transform: scale(1.05);
}