<section class="destacado">
  <h2 class="fade-zoom">Arte / Codigo</h2>
  <p class="typewriter">El codigo es un arte, el arte es logico </p>
</section>
<section id="Miself" class="contenido-miself">
  <section class="col-izq">
      <h3><strong>Experiencia</strong></h3>
      <p>
Soy Ingeniera Informática, apasionada por la tecnología, el diseño y el aprendizaje constante. <br><br>

Inicié mi carrera en RPA con UiPath mientras finalizaba la universidad, ganando experiencia en automatización, trabajo en equipo y atención al cliente. <br><br>

Aunque domino UiPath, Java, Python y SQL, mi verdadera pasión es el frontend: crear y diseñar web que conectan con el usuario e identifiquen al cliente. <br><br>

Combino creatividad, técnica y una fuerte capacidad de adaptación para seguir creciendo y aportar valor.
</p>

    <div class="DescargaCV">
      <a href="/CVJavieraBecerra.pdf" download>
        <button class="DescargaCV">
          <div class="input-icon"></div>
          <h4>Descarga mi CV aquí!</h4>
        </button>
      </a>
    </div>

  </section>
  <section class="col-der">
   <h3><strong>¡Hola! Soy Javiera</strong></h3>
<p>
Tengo 23 años y soy Ingeniera Informática. En menos de un año me gradué, comencé mi carrera en tecnología y compré una casa para mi familia. <br><br>

Ese año también fue duro, pero me reveló mi fortaleza y determinación. <br><br>

Amo crear, diseñar y aprender. El frontend es mi pasión: unir lógica y creatividad para comunicar visualmente. <br><br>

</p>

  </section>
</section>

<section id="Skills" class="skills-wrapper">
  <div class="contenido-skills">
    <section class="col-1">
      <h3>Programación</h3>
      <i>Pyton</i>
      <i>Java</i>
      <i>CSS</i>
      <i>HTML</i>
      <i>SQL</i>
    </section>
    <section class="col-2">
      <h3>Diseño</h3>
      <i>Proporción</i>
      <i>Paletas de colores</i>
      <i>Identidad</i>
      <i>Jerarquia</i>
    </section>
    <section class="col-3">
      <h3>Programas y Tecnologías</h3>
      <i>Angular</i>
      <i>Bootstrap</i>
      <i>Draw.io</i>
      <i>Excel</i>
      <i>Django</i>
      <i>webaim</i>
      <i>coolors</i>
    </section>
  </div>
</section>

<section id="Contacto" class="Contacto-wrapper">
  <h2>Contacto</h2>
  <div class="contact-blocks">
    <div class="Email">
      <h3>Email</h3>
      <a href="mailto:jp.becerradiaz@gmail.com">
        <button>
          <h4>Enviar Email</h4>
        </button>
      </a>

    </div>

    <div class="Linkedin">
      <h3>Linkedin</h3>
      <a href="https://www.linkedin.com/in/javiera-paz-becerra-diaz-90517a196/" target="_blank"
        rel="noopener noreferrer">
        <button>
          <h4>Ir a Linkedin</h4>
        </button>
      </a>
    </div>
  </div>
</section>