html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.repositorio-layout {
  display: flex;
  width: 100%; /* ocupa toda la pantalla */
  overflow: hidden;
  height: 100%;
  scroll-margin-top: 0rem; /* Ajusta según el tamaño de tu header */

}

.sidebar {
  flex: 0 0 14%; 
  background-color: var(--color-black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-white);
  border-radius: 2rem;
}

.content {
  flex: 1; /* ocupa el resto */
  padding: 1rem;
  overflow-y: auto;
  position: relative;
}

/* Fade-in sencillo para contenido al cambiar */
.content > * {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Sidebar h3 estilos */
.sidebar h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  transform: scale(1);
}

.sidebar h3:hover {
  transform: scale(1.02);
}

.sidebar h3.active {
  color: var(--color-pink);
  font-weight: 700;
  transform: scale(1.1);
}
